/* Basic (linear) layout */

body {
  margin: 0 auto;
  max-width: 800px;
}

body > header {
  margin: 0.5em;
  font-size: 1.1rem;
  h1 {
    font-family: $font-mono;
    margin: 0;
    font-size: 1rem;
    margin-bottom: 0;
  }
}

body > nav {
  * {
    display: inline-block;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  ul > li {
    font-weight: 500;
    list-style-type: none;
    display: inline-block;
    margin-left: 0.5rem;
    margin-bottom: 0;
  }
}

body > footer > * {
  text-align: center;
}

/* CSS Grid Layout for the rest of us */

@supports(grid-gap: 1em) {
  @media screen and (min-width: 1100px) {

    /* Grid configuration */
    body {
      width: 100%;
      max-width: 100%;
      display: grid;
      grid-template-rows: auto auto auto;
      grid-template-columns: 1fr 900px 1fr;
      grid-template-areas: "header main none" "nav main none" "nav footer none";
      grid-gap: 1em;
    }
    body > header {
      margin-top: 2em;
      grid-area: header;
      text-align: right;
    }
    body > nav {
      grid-area: nav;
      text-align: right;
    }
    body > main {
      grid-area: main;
    }
    body > footer {
      grid-area: footer;
    }

    /* Vertical nav */
    body > nav > * {
      display: block;
    }
    body > nav > ul > li {
      display: block;
      margin-bottom: 0.5em;
      margin-left: 0;
    }

  }
}
