/* Stack */

.stack {
  display: table;
  list-style-type: none;
  color: black;
}

.stack > li {
  display: table-row;
}

.stack > * > * { 
  display: table-cell;
  vertical-align: middle;
  height: 1cm;
}

.stack > * > :first-child { 
  min-width: 3cm;
  border: thin black solid;
  padding: 0 0.2cm 0 0.2cm;
  min-height: 1cm;
  text-align: center;
}

.stack > li + li > * {
  border-top: none;
}

.stack > li.frame0 > :first-child {
  background-color: #aaaaff;
}

.stack > li.frame1 > :first-child {
  background-color: #aaffaa;
}

.stack > li.frame2 > :first-child {
  background-color: #aaffff;
}

.stack > li.redzone > :first-child {
  background-color: #ffaaaa;
}
